#tweets-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2em;
}

.individual-tweet {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 100%;
  margin-bottom: 1em;
}

.avatar-name-account {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.avatar-name {
  display: flex;
  align-items: center;
}

#avatar-image {
  padding-right: 5px;
}

.fade-text {
  font-family: 'Source Sans Pro', sans-serif;
  color: slategray;
  visibility: hidden;
}

.tweet-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  border-bottom: solid;
  align-self: center;
  padding-bottom: 10px;
}

.bottom-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}


/*
*  HOVER FUNCTIONALITY
*/
.individual-tweet:hover {
  box-shadow: 5px 10px #888888;
  filter: drop-shadow(1px 1px #888888);
}

 .individual-tweet:hover .fade-text {
  visibility: visible;
}
