.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#submit-tweet {
  width: 100%;
}

.tweet-input {
  width: 100%;
}

#tweets-container {
  width: 100%;
}

.input {
  outline: 0;
  padding-top: 1em;
  border-width: 0 0 4px;
  border-color: slategray;
  background-color: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}

.tweet-button {
  background-color: #F79489;
  font-family: 'Bungee', cursive;
  color: white;
}

.counter {
  font-family: 'Bungee', cursive;
  color: rgb(43, 43, 43);
}

.char-limit {
  border: 3px solid red;
  border-radius: 8px;
  padding: 2px 10px;
  color: red;
  display: none;
}